{% extends 'BerichtsheftBaseBundle::base.html.twig' %}

{% block title %}Login {{ parent() }}{% endblock %}

{% block body %}
<div class="container">



    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <img src="{{ asset('asset/EOS_UPTRADE_logo.png') }}" alt="EOS UPTRADE GmbH Logo" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" placeholder="Benutzername" class="form-control" name="_username" value="{{ last_username }}" required autofocus />

        <input type="password" class="form-control" id="password" placeholder="Passwort" name="_password" required="required" />

        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> angemeldet bleiben
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="_submit">anmelden</button>
    </form>
</div> <!-- /container -->
{% endblock %}