{{ render(controller('BerichtsheftBaseBundle:Berichtsheft:userInformation')) }}

<h1>Ausbildungsnachweis Nr. {{ berichtsheft.number }} vom {{ berichtsheft.from | date('d.m.Y') }} bis {{ berichtsheft.to | date('d.m.Y') }}</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Ausgef端hrte Arbeiten</th>
        <th>Zeit</th>
    </tr>
    </thead>
    <tbody>
    {% for item in berichtsheft.items %}
        <tr>
            <td>{{ item.date | date('d.m.Y') }}</td>
            <td>{{ item.content }}</td>
            <td>2 Stunden</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Bemerkungen des Ausbilders</h2>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td></td>
    </tr>
    </tbody>
</table>

<h2>Unterschriften</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>F端r die Richtigkeit aller Angaben:</th>
        <th>F端r die Richtigkeit aller Angaben 端ber die betriebliche Ausbildung:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            Auszubildender
            Unterschrift und Datum
        </td>
        <td>
            Ausbilder
            Unterschrift und Datum
        </td>
    </tr>
    </tbody>
</table>